<mat-drawer-container 
[autosize]="true"
class="min-h-full max-w-7xl mx-auto border-x" >
<div class="items-center justify-center flex-col flex">
<form 
class="shadow-md rounded px-8 pt-6 pb-8 mb-4 w-4/5" 
(ngSubmit)="onLogin()"
method="post"
>
    <div class="">
            <mat-form-field class="w-full block tracking-wide">
            <mat-label>Email</mat-label>
            <input 
            type="email" 
            matInput 
            id="email"
            placeholder="ex. name@email.com" 
            required 
            [(ngModel)]="user.username"
            name="username"
            >
          </mat-form-field>
    </div>
    
    <div class="">
        <mat-form-field class="w-full block tracking-wide">
        <mat-label>Password</mat-label>
        <input 
        type="password" 
        matInput 
        id="password"
        placeholder="********" 
        required 
        [(ngModel)]="user.password"
        name="password"
        >
      </mat-form-field>
</div>
      <div class="justify-center flex">
        <button 
                mat-fab extended 
                color="primary"
                type="submit"
                type="submit"

                >
                    <mat-icon>send</mat-icon>
                    Login
                  </button>
    </div>
</form>
</div>
</mat-drawer-container>
