<mat-drawer-container 
[autosize]="true"
class="min-h-full max-w-7xl mx-auto border-x" >
<div class="items-center justify-center flex-col flex">
<form 
class="shadow-md rounded px-8 pt-6 pb-8 mb-4 w-4/5" 
(ngSubmit)="onSubmit()" 
>
    <div class="">
            <mat-form-field class="w-full block tracking-wide">
            <mat-label>Name</mat-label>
            <input 
            type="text" 
            matInput 
            placeholder="ex. TV" 
            required 
            [(ngModel)]="product.name"
            name="name"
            >
          </mat-form-field>
    </div>
    <div class="flex flex-wrap">
        <div class="w-full md:w-1/2 md:mb-0 pr-1">
            <mat-form-field class="appearance-none block w-full">
                <mat-label>Manufacturer</mat-label>
                <input 
                type="text" 
                matInput 
                placeholder="ex. Samsung" 
                required 
                [(ngModel)]="product.manufacturer" 
                name="manufacturer"
                >
            </mat-form-field> 
            </div>
            <div class="w-full md:w-1/2 pl-1" >
        <mat-form-field class="appearance-none block w-full" >
            <mat-label required>Category</mat-label >
            <mat-select
            required
            [(ngModel)]="product.category"
            name="category"
            >
            <mat-option 
            *ngFor="let category of categories"
            [value]="category" 
            >
            {{ category }}
          </mat-option>
            </mat-select>
        </mat-form-field>
        </div>
    </div>
    
      <div class="flex flex-wrap">
      <mat-form-field class="w-full md:w-1/2 md:mb-0 pr-1">
        <mat-label>Price (USD)</mat-label>
        <input 
        type="number" 
        matInput 
        placeholder="ex. 299.99" 
        required 
        [(ngModel)]="product.price" 
        name="price"

        >
      </mat-form-field>
      <mat-form-field class="w-full md:w-1/2 pl-1">
        <mat-label>Quantity (pcs)</mat-label>
        <input 
        type="number" 
        matInput 
        placeholder="ex. 400" 
        required 
        [(ngModel)]="product.inStock"
        name="inStock" 
        >
      </mat-form-field>
    </div>
    <mat-form-field class="w-full block tracking-wide">
        <mat-label>Image</mat-label>
        <input 
        type="text" 
        matInput 
        placeholder="ex. http..." 
        required 
        [(ngModel)]="product.image"
        name="image" 
        >
      </mat-form-field>
      <mat-form-field class="w-full block tracking-wide ">
        <mat-label>Description</mat-label>
        <textarea 
        rows="4" 
        matInput 
        placeholder="Write a few words about the product..." 
        required 
        [(ngModel)]="product.description" 
        name="description"
        >
      </textarea>
      </mat-form-field>
      <div class="justify-center flex-col flex">
      <button mat-flat-button color="primary" type="submit">Add Product</button>
    </div>
</form>
</div>
</mat-drawer-container>
